<section>
<h1>All our users<h1>
<% @users.each do |user| %>
    <%= link_to user_path(user) do %>
    <div class="user_container">
    <%= image_tag user.photo, class: 'profile-pic', alt: 'profile-pic' %>
    <div class="user_details_container">
    <%= content_tag :span, 'Name:', class: 'name-label' %> <%= content_tag :span, user.name, class: 'name' %><br>
    <%= content_tag :span, 'Number of posts:', class: 'counter-label' %> <%= content_tag :span, user.postsCounter, class: 'counter' %>
    </div>
    </div>
    <% end %>
    <% end %>
</section>