<section>
<div class='main-container'>
    <div class='header'>
        <%= image_tag @user.photo, class: 'profile-pic', alt: 'profile-pic' %>
        <div class="user_details_container">
            <%= content_tag :span, 'Name:', class: 'name-label' %> <%= content_tag :span, @user.name, class: 'name' %><br>
            <%= content_tag :span, 'Number of posts:', class: 'counter-label' %> <%= content_tag :span, @user.postsCounter, class: 'counter' %>
        </div>
    </div>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, class: "btn btn-container" %>
    <div class='bio-container'>
        <%= content_tag :span, 'Bio', class: 'bio-label' %><br><br> <%= content_tag :span, @user.bio, class: 'bio' %>
    </div>
    <div class='new-post-container'>
    <%= link_to new_user_post_path(@user) do %>
        <button class='button'>
            Add new post
        </button>
    <% end %>
    </div>
    <div class='posts-container'>
        <% @posts.each_with_index do |post, index| %>
            <%= link_to user_post_path(post.author, post) do %>
                <div class= 'post-container'>
                    <%= content_tag :span, "Post ##{index+1} - Title:", class: 'post-title-label' %> <%= content_tag :span, post.title, class: 'post-title' %><br><br>
                    <%= content_tag :span, post.text, class: 'text' %>
                </div>
            <% end %>
        <% end %>
    </div>
    <div class='button-container'>
        <%= link_to user_posts_path(@user) do %>
            <button class='button'>
                See all posts
            </button>
        <% end %>
    </div>
</div>