<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'user_index' %>
</head>
<body>
<section>
    <div class='post-form-container'>
        <%= form_with model: @post, url: user_posts_path, method: :post, local: true do |form| %>
        <label>Title: </label><%= form.text_field :title %>
        <label>Text: </label><%= form.text_field :text %>
        <%= form.submit "Add" %>
        <% end %>
    </div>
</section>
    
</body>
</html>