<section>
<div class='main-Container'></div>
    <div class='main-post-container'>
        <div class='post-header'>
            <div class='left-header'>
                <%= content_tag :span, "Post #", class: 'post-index' %> <%= content_tag :span, @post.id, class: 'post-index' %>
                <%= content_tag :span, "by", class: 'post-author' %> <%= content_tag :span, @post.author.name, class: 'post-author' %>
            </div>
            <div class='right-header'>
                <%= content_tag :span, 'Likes:', class: 'post-counter-label' %> <%= content_tag :span, @post.likesCounter, class: 'post-counter' %>
                <%= content_tag :span, 'Comments:', class: 'post-counter-label' %> <%= content_tag :span, @post.commentsCounter, class: 'post-counter' %>
            </div>
        </div><br>
        <div class='post-text'>
            <%= content_tag :span, @post.text, class: 'post-text' %><br><br>
            <%= form_with model: @like, url: user_post_likes_path(@user, @post), method: :post, local: true do |form| %>
                <%= form.submit "Like" %>
                <% end %>
        </div>
    </div>
    <div class='comments-inpost-container'>
    <div class='post-comments'>
  <%= form_with model: @comment, url: user_post_comments_path(@user, @post), method: :post, local: true do |form| %>
    <label>Text: </label><%= form.text_field :text %>
    <%= form.submit "Comment" %>
  <% end %><br>
        <% comments = Post.recent_five_comments(@post.title) %>
        <% comments.includes(:author).each do |comment| %>
                <div class= 'comment-inpost-container'>
                    <%= content_tag :span, "#{comment.author.name}:", class: 'comment-username' %>
                    <%= content_tag :span, comment.text, class: 'comment-text' %>
                    </div><br>
            <% end %>
    </div>
</section>